h1,
h2,
h3,
h4,
a {
  font-family: 'Varela Round', sans-serif; }

p,
span {
  font-family: 'Roboto', sans-serif; }

.card-resp {
  padding-top: 3rem; }

.fas {
  font-size: 24px;
  padding-bottom: 1.3rem; }

.fab {
  font-size: 24px;
  color: darkgray; }

.p-resp {
  width: 100% !important; }

@media only screen and (max-width: 656px) {
  .p-resp {
    width: 100% !important; }

  .p-0-resp {
    padding-right: 0 !important; } }
#hero-section {
  min-height: 700px;
  background: url("https://source.unsplash.com/random/1980x760") center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

#hero-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background-color: rgba(255, 255, 255, 0.6); }

#hero-section .home-inner {
  padding-top: 150px;
  min-height: 640px; }

@media only screen and (max-width: 656px) {
  #hero-section .display-4 {
    font-size: 48px !important; } }
.about-subhead {
  font-size: 18px;
  line-height: 1.8rem; }

#why-us .icon:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f007';
  padding-right: 16px; }

@media only screen and (max-width: 656px) {
  #why-us {
    padding-bottom: 0 !important; } }
#services .services-container {
  padding-top: 40px;
  padding-bottom: 120px; }

.card-resp {
  padding-top: 3rem; }

@media only screen and (max-width: 656px) {
  #services .services-container {
    padding-top: 32px;
    padding-bottom: 80px; } }
