#hero-section {
  min-height: 700px;
  background: url('https://source.unsplash.com/random/1980x760') center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background-color: rgba(255, 255, 255, 0.6);
}

#hero-section .home-inner {
  padding-top: 150px;
  min-height: 640px;
}

@media only screen and (max-width: 656px) {
  #hero-section .display-4 {
    font-size: 48px !important;
  }
}
